<header>
    <div id="Nombre" class="container bg-primary" >
        <span id="p" class="LetraOculta">P</span>
        <span id="i" class="LetraOculta">i</span>
        <span id="x" class="LetraOculta">x</span>
        <span id="y" class="LetraOculta">y</span>
        <span id="o" class="LetraOculta">o</span>

        <span id="r" class="LetraOculta">R</span> 
        <span id="o2" class="LetraOculta">o</span> 
        <span id="b" class="LetraOculta">b</span> 
        <span id="o3" class="LetraOculta">o</span> 
        <span id="t" class="LetraOculta">t</span> 
        <span id="i" class="LetraOculta">i</span> 
        <span id="c" class="LetraOculta">c</span> 
        <span id="s" class="LetraOculta">s</span> 


    </div>
</header>

